.help {
  position: relative;

  &__bg {
    width: 320px;
    height: 869px;
    background-color: #F61067;
    position: absolute;
    z-index: -1;

    @include onMob {
      display: none;
    }
  }
  &__content {
    z-index: 0;
    margin-top: 54px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
        
    @include onMob {
      max-width: 80%;
    }
    
    &-image {
      width: 600px;
      height: 866px;

      @include onMob {
        display: none;
      }
    }

    &-form {
      min-width: 280px;
    }
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #424242;

    &-big {
      font-weight: 700;
      font-size: 50px;
      line-height: 78px;

      &__pink {
        color: #F61067;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__input {
      padding-left: 4px;
      height: 50px;
      min-width: 200px;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #484848;
      border-radius: 8px;

      &:focus {
        box-shadow: 0 0 12px #F61067;
      }
      
      &-ta {
        padding-left: 4px;
        min-width: 200px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #484848;
        resize: none;
        border-radius: 8px;

        &:focus {
          box-shadow: 0 0 12px #F61067;
        }
      }

      &-so {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #484848;

        &:hover {
          color: #fff;
          background-color: #150433;
        }
      }
    }

    &__check {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__button {
      width: 250px;
      height: 65px;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #fff;
      background-color: #F61067;
      border-radius: 8px;

      &:hover {
        box-shadow: 0 0 12px #F61067;
      }
    }
  }
}

.help__form * {
  outline: none;
}

.alert {
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 700px;
  height: 314px;

  &__button {
    width: 54px;
    height: 54px;
    background-image: url(./img/done.png);
    border-color: #fff;
    background-color: #fff;
    border-radius: 50%;
  }

  &__title {
    margin-top: 30px;
    font-weight: 700;
    font-style: 30px;
    line-height: 50px;
  }

  &__text {
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: 16px;
    line-height: 36px;
  }
}