.who-us {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #150433;
  
  color: #fff;

  &__title {
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 50px;
    line-height: 78.5px;
  }

  &__text {
    margin-bottom: 69px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 566px;

    &__text {
      width: 505px;
    }
  
    &__image {
      z-index: 2;
      margin-top: 50px;
      height: 516px;
      width: 544px;

      @include onMob {
        display: none;
      }
    }

    &__bg {
      position: absolute;
      left: 65%;
      z-index: 1;
      width: 352px;
      height: 516px;
      background-color: #F61067;

      @include onMob {
        display: none;
      }
    }
  }

  &__button {
    width: 221px;
    height: 65px;
    background-color: #F61067;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
  }
}